@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');



.Home__text__span {
    font-size: 1rem;
}

.Home__img {
    width: 420px;
    height: 390px;
    
    border-radius: 35px;
    position: relative;
}

.Home__text {
    width: 100%;
    max-width: 700px;
}

.Home__form {
    display: flex;
    justify-content: space-around;

    min-height: 100%;
    



    margin-top: 4rem;
    font-family: 'Montserrat', sans-serif;
    line-height:1.4;
    
}

@media (max-width: 1080px) { 
    .Home__form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    .Home__img {
       width: 360px;
       height: 330px;
    }
    

    .Home__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 }


 @media (max-width: 1080px) {

    .Home__text {
        >h1 {
            font-size: 1.8em;
            padding-top: 5%;
        }
    }

    .Home__text__span {
        text-align: center;
    }
}

@media (max-width: 436px) {
    .Home__text {
        >h1 {
            font-size: 1.5em;
        }
    }
    .Home__form {
        min-height: 340px;
    }
    
}